mat-card.container{
  max-height: 20em ;
  overflow:auto;
}

mat-card.containerB{
  max-height: 20em ;
  overflow:auto;
  background: rgba(255,255,216,0.5);
}
.example-spacer {
  flex: 1 1 auto;
}

mat-card.outside{
  align-content: center;
  background: #E91E63;
  width: 30px;
  height: 30px;
  left: 40%;
  top: 20px;
}
