<p *ngIf="weapons.length == 0"><em>Emty...</em></p>

<div  *ngIf="weapons.length > 0">
  <table #tableId mat-table
         [dataSource]="weapons" multiTemplateDataRows
         class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnList">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>

      <td mat-cell *matCellDef="let element">
        <div *ngIf=" selectedRow != element || !edit">
          {{element[column]}}
        </div>
        <div *ngIf="  selectedRow == element && edit">
          <div *ngIf="column != 'price' && column != 'dmgM'">
            <input [(ngModel)]="element[column]" [placeholder]="column" require>
          </div>
          <div *ngIf="column == 'dmgM' ">
            <input [(ngModel)]="element['dmgM'].number" [style.width.%]="20" required>
            <select [(ngModel)]="element['dmgM'].value" require>
              <option [ngValue]="1">d2</option>
              <option [ngValue]="4">d4</option>
              <option [ngValue]="6">d6</option>
              <option [ngValue]="8">d8</option>
              <option [ngValue]="10">d10</option>
              <option [ngValue]="12">d12</option>
              <option [ngValue]="20">d20</option>
              <option [ngValue]="100">d100</option>
            </select>
          </div>
          <div *ngIf="column == 'price' ">
            <input [(ngModel)]="element['price'].value" [style.width.%]="20" required>
            <select [(ngModel)]="element['price'].coin" required>
              <option [ngValue]="coinEnum.PlatinumCoin">PlatinumCoin</option>
              <option [ngValue]="coinEnum.GoldCoin">GoldCoin</option>
              <option [ngValue]="coinEnum.SilverCoin">SilverCoin</option>
              <option [ngValue]="coinEnum.CopperCoin">CopperCoin</option>

            </select>
          </div>
        </div>
      </td>
      <!-- -->
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnList.length">
        <div class="example-element-detail"
             [@detailExpand]="element == selectedRow ? 'expanded' : 'collapsed'">
          <div *ngIf="!edit" class="example-element-description">
            <div *ngFor="let col of columnDescriptionList">
              {{col}}: {{element[col]}}
            </div>


          </div>
          <div *ngIf="edit" class="example-element-description">
            <div *ngFor="let col of columnDescriptionList">
              <div *ngIf="col == 'description'">
                {{col}} <textarea [(ngModel)]="element['description']" placeholder="descrimption" class="description"></textarea>
              </div>
              <div>
                {{col}} <input [(ngModel)]="element[col]">
              </div>
            </div>

          </div>
        </div>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="columnList"></tr>
    <tr mat-row *matRowDef="let element; columns: columnList;"
        class="example-element-row"
        [class.example-expanded-row]="selectedRow === element"
        (click)="selectRowFunction(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>
</div>

  <div class="sticky">
     <app-add-weapon-form *ngIf="add"  [omniList]="this"></app-add-weapon-form>
    <app-add-shop [omniList]="this" *ngIf="shop"></app-add-shop>
  <div >
    <!-- aggiunta nuva riga -->
    <button *ngIf="!add && !edit && !shop" mat-raised-button (click)="add = true">add Weapon</button>
    <button *ngIf="!add && !edit && !shop" mat-raised-button (click)="shop = true">add Shop</button>
    <button *ngIf="shop" mat-raised-button (click)="cancellShop()">cancell</button>
    <!-- attiva la form per l'edit -->
    <button *ngIf="selectedRow && !add" mat-raised-button (click)="editWeapons()">{{edit ? "cancell" : "edit"}} </button>
    <button *ngIf="edit" mat-raised-button (click)="saveFunction()" color="warn">Save</button>
    <button *ngIf="add" mat-raised-button (click)="insertWeapons()">Save </button>
    <button *ngIf="shop && !editShop" mat-raised-button (click)="addShop()">Save </button>
    <button *ngIf="editShop" mat-raised-button (click)="updateShop()">Update </button>
    <button *ngIf="editShop" [routerLink]="['/shop-manager']">return to shops</button>
    <button *ngIf="selectedRow" mat-raised-button (click)="deleteFunction()" color="warn">delete</button>
    <button *ngIf="add" mat-raised-button (click)="resetAddFunction()" color="warn">delete</button>
  </div>
  </div>




