


<p *ngIf="weapons.length == 0"><em>Loading...</em></p>

<div  *ngIf="weapons.length > 0">
  <table #tableId mat-table
         [dataSource]="weapons" multiTemplateDataRows
         class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnList">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>

      <td mat-cell *matCellDef="let element">
        <div *ngIf=" selectedRow != element || !edit">
          {{element[column]}}
        </div>
        <div *ngIf="  selectedRow == element && edit">
          <div *ngIf="column != 'price' && column != 'dmgM'">
            <input [(ngModel)]="element[column]" [placeholder]="column" require>
          </div>
          <div *ngIf="column == 'dmgM' ">
            <input [(ngModel)]="element['dmgM'].number" [style.width.%]="20" required>
            <select [(ngModel)]="element['dmgM'].value" require>
              <option value="1">d2</option>
              <option value="4">d4</option>
              <option value="6">d6</option>
              <option value="8">d8</option>
              <option value="10">d10</option>
              <option value="12">d12</option>
              <option value="20">d20</option>
              <option value="100">d100</option>
            </select>
          </div>
          <div *ngIf="column == 'price' ">
            <input [(ngModel)]="element['price'].value" [style.width.%]="20" required>
            <select [(ngModel)]="element['price'].coin" required>
              <option [ngValue]="coinEnum.PlatinumCoin">PlatinumCoin</option>
              <option [ngValue]="coinEnum.GoldCoin">GoldCoin</option>
              <option [ngValue]="coinEnum.SilverCoin">SilverCoin</option>
              <option [ngValue]="coinEnum.CopperCoin">CopperCoin</option>

            </select>
          </div>
        </div>
      </td>
      <!-- -->
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnList.length">
        <div class="example-element-detail"
             [@detailExpand]="element == selectedRow ? 'expanded' : 'collapsed'">
          <div *ngIf="!edit" class="example-element-description">
            {{element.description}}
          </div>
          <div *ngIf="edit" class="example-element-description">
            <textarea [(ngModel)]="element['description']" placeholder="descrimption" class="description"></textarea>
          </div>
        </div>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="columnList"></tr>
    <tr mat-row *matRowDef="let element; columns: columnList;"
        class="example-element-row"
        [class.example-expanded-row]="selectedRow === element"
        (click)="selectRowFunction(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>

  <div class="sticky" >
    <div *ngIf="add">
    <form [formGroup]="formController">
      <mat-form-field appearance="outline">
        <mat-label>name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-card formGroupName="price">
        <mat-card-header>Price</mat-card-header>
        <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>priva value</mat-label>
        <input matInput formControlName="value">
      </mat-form-field>
        </mat-card-content>
      </mat-card>

    </form>
    </div>
  <div >
    <!-- aggiunta nuva riga -->
    <button *ngIf="!add" mat-raised-button (click)="addWeapons()">add</button>
    <!-- attiva la form per l'edit -->
    <button *ngIf="selectedRow && !add" mat-raised-button (click)="editWeapons()">{{edit ? "cancell" : "edit"}} </button>
    <button *ngIf="edit" mat-raised-button (click)="saveFunction()" color="warn">Save</button>
    <button *ngIf="selectedRow && add" mat-raised-button (click)="saveFunction()">save </button>

    <button *ngIf="edit || add" mat-raised-button (click)="deleteFunction()" color="warn">delete</button>
  </div>
  </div>
</div>


