
  <mat-card>
    <mat-card-title>Shops List</mat-card-title>
    <mat-card-content>
      <div class="colorNested" style="height: auto;">
        <div gdGap="10px" gdColumns="repeat(auto-fill, minmax(30em, 2fr))" >

          <app-shop-view [shop]="shops[i]" [parent]="this" [isNew]="false"  [delteting]="deleting" *ngFor="let shop of shops;let i = index"></app-shop-view>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="sticky">
    <app-create-shop [paretn]="this"></app-create-shop>
  </div>
