<mat-toolbar>
  <img src="assets/77b56dc71da03bc.png" style="width: 35px; height: 35px">
  <span>Showcase</span>
  <span class="example-spacer"></span>
  <button [routerLink]="['/shop']" mat-button class="example-icon favorite-icon">
    <h2>Shops</h2>
  </button>
  <button mat-button [routerLink]="['/potion']" class="example-icon favorite-icon">
    <h2>Potions</h2>
  </button>
  <button [routerLink]="['/spell']" mat-button class="example-icon favorite-icon">
    <h2>Spells</h2>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>


